:root {
  --blue-bg: rgb(126, 126, 226);
  --black-bg: rgb(36, 34, 34);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

ul {
  list-style: none;
}

main {
  position: relative;
  background: var(--blue-bg);
  height: 100vh;
  overflow: none;
}

.showcase {
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: aqua; */
}

.container {
  width: 90vw;
}
